---
import Section from "./Section.astro";
---

<Section title="Experiencia" id="experience">
    <ul>
        <li>
            <strong>BBVA Technology (2023 Nov - Presente):</strong>
            <p>
                Desarrollo microservicios utilizando tecnologias como Java con
                Spring, centradas en el rendimiento, buenas pr치cticas de c칩digo
                y adem치s de ser facilmente escalables. Entre mis principales
                tareas tambien esta el dise침o y la creacion de diferentes APIs
                REST.
            </p>
        </li>
        <li>
            <strong>AXPE Consulting (2022 Marzo - 2023 Nov):</strong>
            <p>
                Matenimiento y desarrollo de aplicaciones escritas en Java con
                Spring Boot, principalmente monolitos,muy ocasionalmente ayudaba
                en el front.
            </p>
        </li>
    </ul>
</Section>
