---
import Section from "./Section.astro";
---

<Section id="technologies" title="Tecnologías">
    <div class="technologies-cotainer">
        <div>
            <strong>He trabajado con...</strong>
            <div class="technologies-list">
                <div>Java</div>
                <div>Spring Boot</div>
                <div>SQL</div>
                <div>REST APIs</div>
                <div>Git</div>
                <div>JavaScript</div>
            </div>
        </div>
        <div>
            <strong>Me gustaria trabajar...</strong>
            <div class="technologies-list">
                <div>Golang</div>
                <div>TypeScript</div>
                <div>Node.js</div>
                <div>Docker</div>
                <div>Express.js</div>
            </div>
        </div>
    </div>
</Section>

<style>
    .technologies-cotainer {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .technologies-list {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        margin-top: 8px;
    }

    .technologies-list div {
        background-color: #f0f0f0;
        padding: 6px 12px;
        border-radius: 4px;
        font-size: 0.9rem;
    }
</style>
