---
const { title, id, description, publishedDate } = Astro.props;
---

<a href=`blog/${id}`>
    <article>
        <div>
            <h3>{title}</h3>
            <span>{publishedDate}</span>
        </div>
        <p>{description}</p>
    </article>
</a>

<style>
    article {
        padding: 0.5rem 1rem;
        border: 1px solid rgb(218, 218, 218);
    }

    span {
        font-size: 0.9rem;
        color: #717171;
    }

    * {
        text-align: left;
    }

    article > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h3 {
        font-weight: bolder;
        font-size: 1.2rem;
        text-align: left;
    }
    p {
        margin-top: -0.5rem;
    }
    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        background-color: #dfdfdf;
        transition: 0.25s;
    }
</style>
